<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Downloader</title>
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
    <form method="post" action="/">
        <label for="url">YouTube Link:</label>
        <input type="text" id="url" name="url"><br><br>
        <label for="output_path">Download Location:</label>
        <input type="text" id="output_path" name="output_path" readonly>
        <button type="button" onclick="selectDirectory()">Select Directory</button><br><br>
        <input type="submit" value="Download">
    </form>
    <script>
        function selectDirectory() {
            const input = document.createElement('input');
            input.type = 'file';
            input.setAttribute('webkitdirectory', '');
            input.setAttribute('directory', '');
            input.setAttribute('mozdirectory', '');
            input.setAttribute('msdirectory', '');
            input.setAttribute('odirectory', '');
            input.setAttribute('multiple', '');

            input.addEventListener('change', function() {
                const output_path = document.getElementById('output_path');
                output_path.value = input.files[0].webkitRelativePath.split('/').slice(0, -1).join('/');
            });

            input.click();
        }
    </script>
</body>
</html>